/* Introduction to Cascading Style Sheets */

body {
  /* If the user cannot load the Arial font, the sans-serif font is used */
  font-family: Arial, sans-serif;
  background-color: #FEFFF1;
}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 32px;
}

/* This selector selects ALL anchor tag children of ALL list elements that
are children of an Unordered List element */
ul li a {
  text-decoration: none;
  color: inherit;
}

/* This selector selects all image elements that are children (1 level deep)
of a header element */
header > img {
  width: 100px;
}

/* Selects all elements with the class attribute "ingredients-list" */
.ingredients-list {

  /* The list style property is shorthand for multiple list-style properties*/
  list-style: square inside;
}

ol {
  list-style: upper-roman inside;
}

.user_review h4 {
  font-size: 18px;
  font-weight: bold;
}


select{
  outline: none;
  cursor: pointer;
}

input[type="submit"]:last-child {
  outline: none;
  cursor: pointer;
  background-color: gold;
}

input[type="submit"]:last-child:hover {
  outline: none;
  cursor: pointer;
  background-color: gold;
  -webkit-filter: brightness(90%);
}

ol li:nth-of-type(2n) {
  background-color: lightgray;
}

h2 + .user_review {
  border-top: 1px; 
  border-top-color: black;
  border-top-style: solid;
}

input[type="radio"]{
  outline: none;
  width: 27px;
  height: 27px;
  cursor: pointer;
  -webkit-appearance: none;
  background-image: url(../assets/stars.png);
  background-position: top;
  vertical-align: bottom;
}

input[type="radio"]:hover{
  outline: none;
  width: 27px;
  height: 27px;
  cursor: pointer;
  -webkit-appearance: none;
  background-image: url(../assets/stars.png);
  background-position: center;
  vertical-align: bottom;
}

input[type="radio"]:checked{
  outline: none;
  width: 27px;
  height: 27px;
  cursor: pointer;
  -webkit-appearance: none;
  background-image: url(../assets/stars.png);
  background-position: bottom;
  vertical-align: bottom;
}
